
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

.head {
    background-color: #004175; 
    width: device-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Oswald";
}

body {
    margin: 0;
}

.title {
    
   padding-left: 1rem;
   color:aliceblue; 
   font-family: "Oswald";
    
 
}

.nav { 
    padding-top: 2rem; 
    padding-right: 1rem;
    font-family: "Oswald";
    font-weight: 600;
}

.nav-link {
    color:aliceblue;
    padding-left: .5rem;
    text-decoration: none;
}

.dog-hero {
    width: 100%;
}

.home-text {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%; 
    font-family: "Open Sans";
    /* display: flex;
    justify-content: center; */
    position: relative;
    text-align: center;
}

footer {
    display: flex;
    height: 13rem;
}

.donate {
    background: linear-gradient(rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/donate.jpg)
    
}

.volunteer {
    background: linear-gradient(rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/volunteer.jpg)
}

.location {
    background: linear-gradient(rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/location.png)
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 33.4%;
    background-size: cover;
    background-position: center;
    font-size: 2rem;
    font-family: "Oswald";
}

footer a {
    text-decoration: none;
    color: aliceblue;
    position: relative;

}
#adopt-body {
margin-left: 3rem;
margin-right 3rem;

}

#the-dogs {
    width:devide-width;
    margin-right: none;
    margin-left: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.dogs{
    border: solid 1px gray;
   width:min-content;
   display: inline-block; 
   vertical-align: top;
   padding-bottom: 1rem;
   margin: .5rem;
}

.dog-pic {
    margin: .5rem;
}

.dog-name {
    margin-top: 0;
    margin-left: .5rem;
}

.traits {
    border: none;
    background-color: #89DEEF;
    padding: .5rem;
    margin: .25rem;
    margin-left: 1rem;
    font-size: medium;
    display: inline-block;
    border-radius: 12px;
}

.contact {
margin-left: 3rem;
font-family: "Open Sans";
margin-bottom: 5rem;
}

.cinfo {
    margin: none;
    font-style: italic;
    padding: none;
    line-height: 0.4;
}


