@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

.head {
    background-color: #004175; 
    width: device-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

body {
    margin: 0;
}

.title {
    
   padding-left: 1rem;
   color:aliceblue; 
   font-family: "Oswald"; 
 
}

.nav { 
    padding-top: 2rem; 
    padding-right: .5rem;
    font-family: "Oswald";
}

.nav-link {
    color:aliceblue;
    
}

.dog-hero {
    width: 100%;
}

.home-text {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%; 
    font-family: "Open Sans";
    /* display: flex;
    justify-content: center; */
    position: relative;
    text-align: center;
}

footer {
display: flex;
height: 13rem;
}

.donate {
    background: linear-gradient(rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/donate.jpg)
    
}

.volunteer {
    background: linear-gradient(rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/volunteer.jpg)
}

.location {
    background: linear-gradient(rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/location.png)
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 33.4%;
    background-size: cover;
    background-position: center;
    font-size: 2rem;
    font-family: "Oswald";
}

footer a {
    text-decoration: none;
    color: aliceblue;
    position: relative;

}
#the-dogs {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2rem;
   
   
}
.dogs{
    border: solid 1px gray;
   width:min-content;
   display: inline-block; 
   vertical-align: top;
   padding-bottom: 1rem;
   margin: .5rem;
   
    
}

.dog-pic {
    margin: .5rem;
}

.dog-name {
    margin-top: 0;
    margin-left: .5rem;
}

.traits {
    border: none;
    background-color: #89DEEF;
    padding: .5rem;
    margin: .25rem;
    font-size: medium;
    display: inline-block;
    border-radius: 12px;
}

.contact {
margin-left: 3rem;
}


